.author-card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    img {
        width:64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
    }
    figcaption {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 0 2%;
        font-size: clamp(1rem, 3vw, 2rem);
    }
}
@media screen and (max-width: 1024px) {
.author-card {
    justify-content: flex-start;
}
}