nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;

    ul {
        display: flex;
        
        li {
            a {
                font-size: clamp(1.2rem, 2vw, 2.5rem);
                margin-left: clamp(1rem, 2vw, 3rem);

                &.active {
                    border-bottom: 1px solid;
                }
            }
        }
    }

    .kasa-logo-red {
        width: clamp(10rem, 13vw, 20rem);
    }
}
